In [2]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv('insurance.csv')

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

# Linear model on bmi and age

In [8]:
y=df.charges

In [16]:
x=df.iloc[:,[0,2]]

In [17]:
x

      age     bmi
0      19  27.900
1      18  33.770
2      28  33.000
3      33  22.705
4      32  28.880
5      31  25.740
6      46  33.440
7      37  27.740
8      37  29.830
9      60  25.840
10     25  26.220
11     62  26.290
12     23  34.400
13     56  39.820
14     27  42.130
15     19  24.600
16     52  30.780
17     23  23.845
18     56  40.300
19     30  35.300
20     60  36.005
21     30  32.400
22     18  34.100
23     34  31.920
24     37  28.025
25     59  27.720
26     63  23.085
27     55  32.775
28     23  17.385
29     31  36.300
...   ...     ...
1308   25  30.200
1309   41  32.200
1310   42  26.315
1311   33  26.695
1312   34  42.900
1313   19  34.700
1314   30  23.655
1315   18  28.310
1316   19  20.600
1317   18  53.130
1318   35  39.710
1319   39  26.315
1320   31  31.065
1321   62  26.695
1322   62  38.830
1323   42  40.370
1324   31  25.935
1325   61  33.535
1326   42  32.870
1327   51  30.030
1328   23  24.225
1329   52  38.600
1330   57  25.740
1331   23  33.400
1332   52  44.700
1333   50  30.970
1334   18  31.920
1335   18  36.850
1336   21  25.800
1337   61  29.070

[1338 rows x 2 columns]

In [18]:
model=LinearRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [19]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
model.score(x,y)

0.11544423886132028

In [22]:
model.score(x_test,y_test)

0.1617673989330799

# Transforming column to dummy variable (age,bmi,region,and smoker)

In [23]:
df['age_sc']=df.age/x.age.mean()
df['bmi_sc']=df.bmi/x.bmi.mean()

In [24]:
df

,age,sex,bmi,children,smoker,region,charges,age_sc,bmi_sc
0,19,female,27.900,0,yes,southwest,16884.92400,0.484607,0.909880
1,18,male,33.770,1,no,southeast,1725.55230,0.459101,1.101313
2,28,male,33.000,3,no,southeast,4449.46200,0.714158,1.076202
3,33,male,22.705,0,no,northwest,21984.47061,0.841686,0.740459
4,32,male,28.880,0,no,northwest,3866.85520,0.816180,0.941840
5,31,female,25.740,0,no,southeast,3756.62160,0.790675,0.839437
6,46,female,33.440,1,no,southeast,8240.58960,1.173259,1.090551
7,37,female,27.740,3,no,northwest,7281.50560,0.943708,0.904662
8,37,male,29.830,2,no,northeast,6406.41070,0.943708,0.972821
9,60,female,25.840,0,no,northwest,28923.13692,1.530338,0.842699
10,25,male,26.220,0,no,northeast,2721.32080,0.637641,0.855091
11,62,female,26.290,0,yes,southeast,27808.72510,1.581349,0.857374
12,23,male,34.400,0,no,southwest,1826.84300,0.586630,1.121859
13,56,female,39.820,0,no,southeast,11090.71780,1.428315,1.298617
14,27,male,42.130,0,yes,southeast,39611.75770,0.688652,1.373951
15,19,male,24.600,1,no,southwest,1837.23700,0.484607,0.802259
16,52,female,30.780,1,no,northeast,10797.33620,1.326293,1.003803
17,23,male,23.845,0,no,northeast,2395.17155,0.586630,0.777637
18,56,male,40.300,0,no,southwest,10602.38500,1.428315,1.314271
19,30,male,35.300,0,yes,southwest,36837.46700,0.765169,1.151210
20,60,female,36.005,0,no,northeast,13228.84695,1.530338,1.174201
21,30,female,32.400,1,no,southwest,4149.73600,0.765169,1.056634
22,18,male,34.100,0,no,southeast,1137.01100,0.459101,1.112075
23,34,female,31.920,1,yes,northeast,37701.87680,0.867192,1.040981
24,37,male,28.025,2,no,northwest,6203.90175,0.943708,0.913956
25,59,female,27.720,3,no,southeast,14001.13380,1.504832,0.904009
26,63,female,23.085,0,no,northeast,14451.83515,1.606855,0.752852
27,55,female,32.775,2,no,northwest,12268.63225,1.402810,1.068864
28,23,male,17.385,1,no,northwest,2775.19215,0.586630,0.566963
29,31,male,36.300,2,yes,southwest,38711.00000,0.790675,1.183822
...,...,...,...,...,...,...,...,...,...
1308,25,female,30.200,0,yes,southwest,33900.65300,0.637641,0.984888
1309,41,male,32.200,2,no,southwest,6875.96100,1.045731,1.050112
1310,42,male,26.315,1,no,northwest,6940.90985,1.071237,0.858189
1311,33,female,26.695,0,no,northwest,4571.41305,0.841686,0.870582
1312,34,male,42.900,1,no,southwest,4536.25900,0.867192,1.399062
1313,19,female,34.700,2,yes,southwest,36397.57600,0.484607,1.131642
1314,30,female,23.655,3,yes,northwest,18765.87545,0.765169,0.771441
1315,18,male,28.310,1,no,northeast,11272.33139,0.459101,0.923251
1316,19,female,20.600,0,no,southwest,1731.67700,0.484607,0.671811
1317,18,male,53.130,0,no,southeast,1163.46270,0.459101,1.732685
1318,35,male,39.710,4,no,northeast,19496.71917,0.892697,1.295029
1319,39,female,26.315,2,no,northwest,7201.70085,0.994720,0.858189
1320,31,male,31.065,3,no,northwest,5425.02335,0.790675,1.013097
1321,62,male,26.695,0,yes,northeast,28101.33305,1.581349,0.870582
1322,62,male,38.830,0,no,southeast,12981.34570,1.581349,1.266331
1323,42,female,40.370,2,yes,southeast,43896.37630,1.071237,1.316553
1324,31,male,25.935,1,no,northwest,4239.89265,0.790675,0.845797
1325,61,male,33.535,0,no,northeast,13143.33665,1.555844,1.093649
1326,42,female,32.870,0,no,northeast,7050.02130,1.071237,1.071962
1327,51,male,30.030,1,no,southeast,9377.90470,1.300787,0.979344
1328,23,female,24.225,2,no,northeast,22395.74424,0.586630,0.790030
1329,52,male,38.600,2,no,southwest,10325.20600,1.326293,1.258830
1330,57,female,25.740,2,no,southeast,12629.16560,1.453821,0.839437
1331,23,female,33.400,0,no,southwest,10795.93733,0.586630,1.089247
1332,52,female,44.700,3,no,southwest,11411.68500,1.326293,1.457764
1333,50,male,30.970,3,no,northwest,10600.54830,1.275282,1.009999
1334,18,female,31.920,0,no,northeast,2205.98080,0.459101,1.040981
1335,18,female,36.850,0,no,southeast,1629.83350,0.459101,1.201759
1336,21,female,25.800,0,no,southwest,2007.94500,0.535618,0.841394
1337,61,female,29.070,0,yes,northwest,29141.36030,1.555844,0.948036

In [25]:
df['sex_n']=df.sex.map({'male':1,'female':2})

In [26]:
df.head()

,age,sex,bmi,children,smoker,region,charges,age_sc,bmi_sc,sex_n
0,19,female,27.900,0,yes,southwest,16884.92400,0.484607,0.909880,2
1,18,male,33.770,1,no,southeast,1725.55230,0.459101,1.101313,1
2,28,male,33.000,3,no,southeast,4449.46200,0.714158,1.076202,1
3,33,male,22.705,0,no,northwest,21984.47061,0.841686,0.740459,1
4,32,male,28.880,0,no,northwest,3866.85520,0.816180,0.941840,1

In [27]:
df['smoker_n']=df.smoker.map({'yes':1,'no':2})

In [28]:
df.head()

,age,sex,bmi,children,smoker,region,charges,age_sc,bmi_sc,sex_n,smoker_n
0,19,female,27.900,0,yes,southwest,16884.92400,0.484607,0.909880,2,1
1,18,male,33.770,1,no,southeast,1725.55230,0.459101,1.101313,1,2
2,28,male,33.000,3,no,southeast,4449.46200,0.714158,1.076202,1,2
3,33,male,22.705,0,no,northwest,21984.47061,0.841686,0.740459,1,2
4,32,male,28.880,0,no,northwest,3866.85520,0.816180,0.941840,1,2

In [29]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [30]:
df['region_n']=df.region.map({'southwest':1,'southeast':2,'northwest':3,'northeast':4})

In [31]:
df.head()

,age,sex,bmi,children,smoker,region,charges,age_sc,bmi_sc,sex_n,smoker_n,region_n
0,19,female,27.900,0,yes,southwest,16884.92400,0.484607,0.909880,2,1,1
1,18,male,33.770,1,no,southeast,1725.55230,0.459101,1.101313,1,2,2
2,28,male,33.000,3,no,southeast,4449.46200,0.714158,1.076202,1,2,2
3,33,male,22.705,0,no,northwest,21984.47061,0.841686,0.740459,1,2,3
4,32,male,28.880,0,no,northwest,3866.85520,0.816180,0.941840,1,2,3

In [32]:
df.tail()

,age,sex,bmi,children,smoker,region,charges,age_sc,bmi_sc,sex_n,smoker_n,region_n
1333,50,male,30.97,3,no,northwest,10600.5483,1.275282,1.009999,1,2,3
1334,18,female,31.92,0,no,northeast,2205.9808,0.459101,1.040981,2,2,4
1335,18,female,36.85,0,no,southeast,1629.8335,0.459101,1.201759,2,2,2
1336,21,female,25.80,0,no,southwest,2007.9450,0.535618,0.841394,2,2,1
1337,61,female,29.07,0,yes,northwest,29141.3603,1.555844,0.948036,2,1,3